<div class="p-4 bg-[#0C121D] text-white w=full border-gray-800 border-b">
  <div class="flex justify-start gap-2 items-center">
    <span class="bg-blue-500 text-[1.1rem] p-2 rounded-lg">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14" />
      </svg>

    </span>
    <div class="mr-4 font-bold flex flex-col">
      <span class="text-[1.4rem]">CodeCraft</span>
      <span class="text-sm text-[#868D9A]">Code Analysis Tool</span>
    </div>
  </div>
</div>
